
body{
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main{
    margin: 5vh;
    background-color: azure;
    height: 80vh;
    width: 60vw;
    border-radius: 40px;
    box-shadow: 0px 0px 10px 10px rgb(171, 171, 171);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.heading{
    color: rgb(104, 104, 243);
}
.search{
    display: flex;
    justify-content: space-between;
    width: 35vw;
}
input{
    padding: 15px;
    width: 20vw;
    border-radius: 50px;
    background-color: white;
    border: 1px solid gray;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.2s ease-in;
}
input:hover{
    background-color: rgb(237, 237, 237);
}
button{
    background-color: aquamarine;
    padding: 15px;
    width: 10vw;
    border-radius: 50px;
    border: 0px;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.2s ease-in;
}
button:hover{
    cursor: pointer;
    background-color: rgb(63, 255, 191);
}
.real{
    display: none;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 50px;
    font-weight: 700;
    color:lightseagreen;
    text-align: center;
}
.temperature{
    font-size: 50px;
    font-weight: 500;
    color: dodgerblue;
    text-align: center;

}
.description{
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}

@media(max-width:500px){
    .main{
        height: 100vh;
        width: 100vw;
        margin: 0vh;
        border-radius: 0px;
    }
    .search{
        flex-direction: column;
        align-items: center;
        height: 15vh;
        justify-content: space-between;
    }
    .heading{
        padding: 20px;
        margin: 5px;
    }
    input{
        width: 40vw;
    }
    button{
        width: 20vw;
    }
}